<h1 setBackground appHover>This is App Component</h1>
<div class="container" setBackground appHover>
  <p>This is a demo HTML content to understand custom attribute directive in angular</p>
</div>

<div appHighlight appHover>
  <p>This is a demo HTML content to understand custom attribute directive in angular</p>
</div> 
<div >
  
<div class="container" [appBetterhighlight]="'red'" [defaultColor]="'yellow'" [title]="'Example Title'" >
  <p>This is a demo HTML content to understand @HostBinding directive in angular</p>
</div>
