<div class="container">
  <h2>New in TechWorld</h2>

  <div class="more-products">
    <app-product>
      <h4 class="title">New in IOS</h4>
      <button class="btn btn-more">Show More in IOS</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Samsung</h4>
      <button class="btn btn-more">Show More in Samsung</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Nokia</h4>
      <button class="btn btn-more">Show More in Nokia</button>
    </app-product>
    <app-product>
      <h4 class="title">New in Redmi</h4>
      <button class="btn btn-more">Show More in Redmi</button>
    </app-product>
  </div>
</div>